@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --clr-primary: #bd1a14;
  --clr-dark: #222;
  --clr-light: #ededed;

  --ff-primary: 'Inter', sans-serif;
}

body {
  font-family: var(--ff-primary);
  color: var(--clr-dark);
  background-color: var(--clr-light);
  overflow-x: hidden;
}
/* Utils */
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 83.75rem;
}

.btn {
  background-color: var(--clr-primary);
  /* border: var(--clr-dark) 1px solid; */
  border-radius: 0.5rem;
  padding: 0.3em 0.75rem;
  cursor: pointer;
  color: white;
}

.btn:hover {
  background-color: hsl(2, 81%, 41%, 0.8);
}

/* Header */
header {
  background-color: var(--clr-primary);
  color: white;
  width: 100vw;
}

header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
}

.logo {
  width: 2rem;
  aspect-ratio: 1;
}

@media (min-width: 30.5em) {
  header > .container {
    flex-direction: row;
    /* width: 95%; */
  }
}

/* Search bar */
.search > form {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.input-search {
  width: 100%;
  border: var(--clr-dark 2px solid);
  border-radius: 0.5rem;
}

@media (min-width: 29.625em) {
  .search {
    flex-direction: row;
  }
  .btn-search {
    max-width: 10rem;
    margin-inline: 0.5rem;
  }
  .input-search {
    padding: 0.2em;
  }
}

/* Pokemon Entries */
.pokemon-entries {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.pokemon-entry {
  background: #f5f5f5;
  border: var(--clr-dark) 2px solid;
  border-radius: 0.5em;
  padding: 0 0 0.25em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

.pokemon-entry:hover {
  transform: scale(1.05);
  background: white;
}

.pokemon-entry > h3 {
  text-align: center;
  background-color: var(--clr-primary);
  color: white;
  padding: 0.5em 0;
  border-radius: 0.25em 0.25em 0 0;
  border-bottom: var(--clr-dark) 2px solid;
}

.pokemon-entry:hover h3 {
  background-color: hsl(2, 81%, 41%, 0.9);
}

.pokemon-entry > img {
  align-self: center;
  width: 10rem;
  aspect-ratio: 1;
}

@media (min-width: 30.5em) {
  .pokemon-entries {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 50em) {
  .pokemon-entries {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Pokemon detail */
.detail header {
  background: var(--clr-primary);
  color: white;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.detail img {
  width: 20rem;
  aspect-ratio: 1;
  margin: 0 auto;
}

.detail a {
  text-decoration: none;
  position: relative;
  top: 1em;
  left: 1em;
}

.entry-card {
  background: white;
  width: min(100vw - 5rem, 40rem);
  margin: 0 auto;
  border: var(--clr-dark) 2px solid;
  border-radius: 0.3rem;
  padding: 1rem 4rem;
}

.entry-card h1 {
  text-align: center;
}

.entry-card .upper-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  align-items: center;
}

@media (min-width: 42.5rem) {
  .entry-card .upper-data {
    flex-direction: row;
  }
}

.entry-card .upper-data p {
  font-size: 1.3rem;
}

.entry-card .types {
  display: flex;
  justify-content: center;
}

.entry-card .type {
  padding: 0.5em 1em;
  border-radius: 20%/50%;
  color: white;
  font-weight: 600;
  text-align: center;
  margin-inline: 0.5rem;
}

.entry-card .stats {
  margin: 1rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 5rem;
}

@media (min-width: 29.8125rem) {
  .entry-card .stats {
    grid-template-columns: repeat(2, 1fr);
  }
}
